<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="org.jboss.aerogear.cordova.android.reflect" version="0.0.1">
  <name>Android reflect</name>
  <description>A helper to make plugin development on android easier</description>
  <license>Apache 2.0</license>
  <keywords>reflection, android, base, plugin</keywords>

  <description>
    Offers the same API for plugin development on android as on iOS. Define this plugin as a dependency, extend
    BasePlugin and create 'action' methods instead of overriding execute
  </description>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PushPlugin">
        <param name="android-package" value="org.apache.cordova.android.reflect.BasePlugin" />
      </feature>
    </config-file>
    
    <source-file src="src/android/org/jboss/aerogear/cordova/android/reflect/BasePlugin.java" target-dir="src/org/jboss/aerogear/cordova/android/reflect"/>
  </platform>
</plugin>